
/**
* 常用工具类
*/

/* 浮动 */

.fl{
  float: left;
}
.fr{
  float: right;
}


/* 清除浮动 */
.clearfix:after {  
   content: ".";  
   visibility: hidden;  
   display: block;  
   height: 0;  
   clear: both;  
}
.clearfix {  
  *zoom:1;  
}

/* 隐藏元素 */
.hidden {
    display: none
}